<div class="col-xs-8">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                <i class="fa fa-area-chart"></i> online
            </h4>
        </div>
        <div id="onlineConnectionsChart" style="height: 350px;"></div>
    </div>
</div>
<div class="col-xs-4">
    <div class="panel panel-primary" ng-controller="RoomsController">
        <div class="panel-heading">
            <h4 class="panel-title">
                <i class="fa fa-comments-o"></i> rooms
            </h4>
        </div>
        <div class="panel-body">
            <input
                    class="form-control pull-right input-sm"
                    type="input"
                    placeholder="filter"
                    ng-model="filter"
            />
        </div>
        <div class="list-group">
            <a ng-repeat="room in entries | filter:{'name': filter} | orderBy:'id'" href="/admin/room?id={{room.id}}" class="list-group-item">
                <span class="badge">{{room.online}}</span>
                <h4 class="list-group-item-heading">{{room.name}}</h4>
                <p class="list-group-item-text" ng-bind-html="room.topic"></p>
            </a>
        </div>
        <div class="panel-footer" ng-if="(SELF_ROLE==='SUPERADMIN')">
            <div class="btn btn-primary" ng-if="!showForm" ng-click="toggleForm(true)">
                Create new room
            </div>
            <form ng-submit="submitForm()" class="form-horizontal" ng-if="showForm" name="form">
                <div class="form-group" ng-class="{'has-error': form.name.$invalid && form.name.$dirty, 'has-success': form.name.$dirty && !form.name.$invalid}">
                    <div class="col-xs-12">
                        <input
                                type="text"
                                class="form-control"
                                name="name"
                                placeholder="Room name"
                                pattern="^#[a-z]{3,10}$"
                                ng-model="input.name"
                                required
                                nd-disabled="inProgress"
                        >
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid || inProgress">Create new room</button>
                    <button type="reset" class="btn btn-warning pull-right" ng-click="toggleForm(false)">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="col-xs-4" ng-controller="SteamController">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4 class="panel-title">
                <i class="fa fa-fw fa-steam"></i> steam database
            </h4>
        </div>
        <div class="panel-body">
            <button class="btn btn-primary" ng-disabled="inProgress" ng-click="updateDatabase()">
                <i class="fa fa-fw fa-refresh" ng-class="{'fa-spin': inProgress}"></i> Sync database
            </button>
        </div>
    </div>
</div>
