<div class="col-xs-12 usersPanel" ng-class="{'col-sm-6 col-md-7 col-lg-8 open': user, 'col-xs-12': !user}">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">
                users
            </h4>
        </div>
        <div class="panel-body">
            <form ng-submit="doSearch()">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" ng-model="searchInput">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-danger" ng-if="search" ng-click="resetSearch()">
                            <span class="fa fa-times fa-fw"></span>
                        </button>
                        <button type="submit" class="btn btn-default">
                            <i class="fa fa-fw fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
        <div class="list-group">
            <a
                    href="#"
                    class="list-group-item"
                    ng-repeat="u in users"
                    ng-class="{'active': user.id === u.id}"
                    ng-click="selectUser(u)">
                <h4 class="list-group-item-heading"><small>#{{u.id}}</small> {{u.name}} <small>{{u.role}}</small></h4>
            </a>
        </div>
        <div class="panel-body" ng-if="users.length === 0">
            <div class="alert alert-warning" role="alert">Nothing to show.</div>
        </div>
        <div class="panel-footer" ng-if="(page !== 0) || hasNextPage()">
            <ul class="pager">
                <li class="previous" ng-if="page !== 0" ng-click="previousPage()"><a href="">&larr; Previous page</a></li>
                <li class="next" ng-if="hasNextPage()" ng-click="nextPage()"><a href="">Next page &rarr;</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="col-sm-6 col-md-5 col-lg-4 userPanel" ng-if="user" ng-controller="UserController">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 class="panel-title">
                User profile: {{user.name}}
            </h4>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" ng-if="user">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Id</label>
                    <div class="col-sm-10">
                        <div class="form-control-static" ng-bind="user.id"></div>
                    </div>
                </div>
                <div class="form-group" ng-if="user.email">
                    <label class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <div class="form-control-static" ng-bind="user.email"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Auth</label>
                    <div class="col-sm-10">
                        <auth class="form-control-static" auth="user.auth"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">
                        Name
                    </label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-sm" ng-if="canEdit('name')">
                            <input
                                    ng-readonly="!editing('name')"
                                    type="text"
                                    class="form-control"
                                    id="inputName"
                                    placeholder="user name"
                                    ng-model="input.name">
                        <span class="input-group-btn">
                            <button ng-show="editing('name')" class="btn btn-warning" type="button" ng-click="reset('name')"><span class="fa fa-times fa-fw"></span></button>
                            <button ng-show="editing('name')" class="btn btn-success" type="button" ng-click="saveName()"><span class="fa fa-check fa-fw"></span></button>
                            <button ng-show="!editing('name')" class="btn btn-default" type="button" ng-click="edit('name')"><span class="fa fa-pencil fa-fw"></span></button>
                        </span>
                        </div>
                        <div class="form-control-static" ng-if="!canEdit('name')">
                            {{user.name}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputRole" class="col-sm-2 control-label">
                        Role
                    </label>
                    <div class="col-sm-10">
                        <div class="input-group input-group-sm" ng-if="canEdit('role')">
                            <select ng-disabled="!editing('role')" class="form-control" id="inputRole" ng-options="role for role in availableRoles" ng-model="input.role"></select>
                        <span class="input-group-btn">
                            <button ng-show="editing('role')" class="btn btn-warning" type="button" ng-click="reset('role')"><span class="fa fa-times fa-fw"></span></button>
                            <button ng-show="editing('role')" class="btn btn-success" type="button" ng-click="saveRole()"><span class="fa fa-check fa-fw"></span></button>
                            <button ng-show="!editing('role')" class="btn btn-default" type="button" ng-click="edit('role')"><span class="fa fa-pencil fa-fw"></span></button>
                        </span>
                        </div>
                        <div class="form-control-static" ng-if="!canEdit('role')">
                            {{user.role}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputRole" class="col-sm-2 control-label">
                        Color
                    </label>
                    <div class="col-sm-10">
                        <div class="form-control-static">
                            {{user.color}} <span class="fa fa-circle fa-fw" ng-style="{'color': user.color}"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input
                                        type="checkbox"
                                        ng-disabled="!isUser()"
                                        id="inputBanned"
                                        ng-model="input.banned"
                                        ng-change="saveBanned()"/> Banned
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input
                                        type="checkbox"
                                        id="inputRenameAvailable"
                                        ng-model="input.renameAvailable"
                                        ng-change="saveRenameAvailable()"/> Can change name
                            </label>
                        </div>
                    </div>
                </div>
            </form>
            <div class="btn btn-link" ng-click="changePassword()" ng-if="user.role !== 'SUPERADMIN'">
                <i class="fa fa-fw fa-key"></i> change password
            </div>
            <hr/>
            <div class="btn btn-link" ng-click="showActivity()">
                <i class="fa fa-fw fa-bar-chart"></i> Show user activity
            </div>
            <div class="btn btn-link" ng-click="showEmoticons()">
                <i class="fa fa-fw fa-bar-chart"></i> Show emoticon usage
            </div>
        </div>
        <div class="panel-footer">
            <div
                    ng-disabled="user && !canEdit('name')"
                    ng-click="requestDelete()"
                    ng-if="(SELF_ROLE==='SUPERADMIN')"
                    class="btn btn-danger"
            >
                Delete user
            </div>
            <div class="btn btn-warning pull-right" ng-click="selectUser(null)">Close</div>
        </div>
    </div>
</div>
