<div class="list-group-item"
     style="word-break: break-all"
     ng-repeat="message in vm.items track by message.id"
     ng-class="{'list-group-item-warning': message.hidden, 'list-group-item-info': ((message.type==='CLEAR') || (message.type==='BAN') || (message.type==='TIMEOUT'))}">
    <div class="list-group-item-text">
        <small>
            <abbr title="{{message.timestamp | date:'dd.MM.yyyy HH:mm'}}">{{message.timestamp | relativeDate}}</abbr>
        </small>
        <strong>
            &lt;{{message.userName}}&gt;
        </strong>
        <span ng-if=":: ((message.type==='MSG') || (message.type==='ME') || (message.type==='MSG_EXT'))"
              style="display: inline-block">
            <span ng-bind="::message.message" ng-if="::message.legacy"></span>
            <message nodes="::message.message" ng-if="::!message.legacy"></message>
        </span>
        <span class="list-group-item-text"
              ng-if="(message.type==='CLEAR') || (message.type==='BAN') || (message.type==='TIMEOUT')">
            cleared messages of {{message.message}}
        </span>
    </div>
</div>
