<div class="panel panel-primary" cg-busy="$ctrl.waitingFor">
    <div class="panel-heading">
        <h4 class="panel-title">
            <i class="fa fa-fw fa-book"></i> Journal
        </h4>
    </div>
    <div class="panel-body text-center">
        <journal-filters
                filter-state="$ctrl.filter"
                filter-change="$ctrl.onFilterChange(filter)"
                global="true"
        ></journal-filters>
        <pagination
                total-items="$ctrl.totalPages"
                rotate="false"
                items-per-page="1"
                max-size="5"
                ng-model="$ctrl.page"
                ng-change="$ctrl.onPageChange()"
                boundary-links="true"
        ></pagination>
    </div>
    <journal-list class="list-group" items="$ctrl.items" room="$ctrl.room"></journal-list>
    <div class="panel-footer text-center">
        <pagination
                total-items="$ctrl.totalPages"
                rotate="false"
                items-per-page="1"
                max-size="5"
                ng-model="$ctrl.page"
                ng-change="$ctrl.onPageChange()"
                boundary-links="true"
        ></pagination>
    </div>
</div>
