<div>
    <journal-filters filter-state="$ctrl.filter" filter-change="$ctrl.onFilterChange(filter)" global="$ctrl.global"></journal-filters>
    <ul class="pager">
        <li class="previous" ng-if="$ctrl.page !== 0" ng-click="$ctrl.previousPage()"><a href="">&larr; Previous page</a></li>
        <li class="next" ng-if="$ctrl.hasNextPage()" ng-click="$ctrl.nextPage()"><a href="">Next page &rarr;</a></li>
    </ul>
    <br/>
    <journal-list class="list-group" items="$ctrl.items" room="$ctrl.room"></journal-list>
    <ul class="pager">
        <li class="previous" ng-if="$ctrl.page !== 0" ng-click="$ctrl.previousPage()"><a href="">&larr; Previous page</a></li>
        <li class="next" ng-if="$ctrl.hasNextPage()" ng-click="$ctrl.nextPage()"><a href="">Next page &rarr;</a></li>
    </ul>
</div>