<div>
    <journal-filters filter-state="$ctrl.filter" filter-change="$ctrl.onFilterChange(filter)" global="$ctrl.global"></journal-filters>
    <ul class="pager">
        <li class="previous" ng-if="$ctrl.page !== 0" ng-click="$ctrl.previousPage()"><a href="">&larr; Previous page</a></li>
        <li class="next" ng-if="$ctrl.hasNextPage()" ng-click="$ctrl.nextPage()"><a href="">Next page &rarr;</a></li>
    </ul>
    <br/>
    <div class="list-group">
        <div class="list-group-item" ng-repeat="entry in $ctrl.items" ng-class="$ctrl.getClassForJournalAction(entry.action)">
            <h4 class="list-group-item-heading">
                {{$ctrl.translateAction(entry.action)}}
                <small class="" ng-if="entry.admin">
                    <i class="fa fa-fw fa-wrench" tooltip="admin"></i><!--
                            --><a href="" user-link="entry.admin.id">{{entry.admin.name}}</a>
                </small>
                <small class="" ng-if="entry.user">
                    <i class="fa fa-fw fa-user" tooltip="user"></i><!--
                            --><a href="" user-link="entry.user.id">{{entry.user.name}}</a>
                </small>
                <small class="pull-right">
                    <a href="" history-popup="room" history-popup-around="entry.time" ng-if="entry.action==='ROOM_BAN'"><!--
                                        --><span class="fa fa-fw fa-comments"></span><!--
                                    --></a>
                    <abbr title="{{entry.time | date:'dd.MM.yyyy HH:mm'}}">{{entry.time | relativeDate}}</abbr>
                </small>
            </h4>
            <div class="list-group-item-text">
                <div class="" ng-if="entry.actionDescription">
                    <div ng-switch="entry.action">
                        <div ng-switch-when="NEW_EMOTICON">
                            <img ng-src="/emoticons/{{entry.actionDescription.fileName}}">
                            <code ng-bind="entry.actionDescription.code"></code>
                        </div>
                        <div ng-switch-when="IMAGE_EMOTICON">
                            <img ng-src="/emoticons/{{entry.actionDescription.oldImage}}">
                            <span class="fa fa-long-arrow-right"></span>
                            <img ng-src="/emoticons/{{entry.actionDescription.newImage}}">
                            <code ng-bind="entry.actionDescription.code"></code>
                        </div>
                        <div ng-switch-when="DELETED_EMOTICON">
                            <img ng-src="/emoticons/{{entry.actionDescription.fileName}}">
                            <code ng-bind="entry.actionDescription.code"></code>
                        </div>
                        <div ng-switch-when="DELETED_ROOM">
                            <code ng-bind="entry.actionDescription.name"></code>
                        </div>
                        <div ng-switch-when="NEW_ROOM">
                            <code ng-bind="entry.actionDescription.name"></code>
                        </div>
                        <div ng-switch-when="NAME_CHANGE">
                            <code ng-bind="entry.actionDescription.oldName"></code>
                            <span class="fa fa-long-arrow-right"></span>
                            <code ng-bind="entry.actionDescription.newName"></code>
                        </div>
                        <div ng-switch-when="USER_UPDATE">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="col-xs-6">
                                        attribute
                                    </th>
                                    <th class="col-xs-6">
                                        value
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="(k,v) in entry.actionDescription.oldState"
                                    ng-if="entry.actionDescription.newState.hasOwnProperty(k)">
                                    <td ng-bind="k"></td>
                                    <td>
                                        {{v}}
                                        <span class="fa fa-long-arrow-right"></span>
                                        {{entry.actionDescription.newState[k]}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <span ng-switch-when="NEW_POLL"><strong>Question:</strong> {{entry.actionDescription}}</span>
                        <span ng-switch-when="CLOSE_POLL"><strong>Question:</strong> {{entry.actionDescription}}</span>
                        <span ng-switch-when="ROOM_ROLE"><strong>New role:</strong> {{entry.actionDescription}}</span>
                                <span ng-switch-when="NEW_PROXY">
                                    {{entry.actionDescription.providerName}}/{{entry.actionDescription.remoteRoom}}
                                </span>
                                <span ng-switch-when="DELETED_PROXY">
                                    {{entry.actionDescription.providerName}}/{{entry.actionDescription.remoteRoom}}
                                </span>
                                <span ng-switch-when="TOPIC_CHANGED">
                                    <code>{{entry.actionDescription.oldTopic}}</code>
                                    <span class="fa fa-long-arrow-right"></span>
                                    <code>{{entry.actionDescription.newTopic}}</code>
                                </span>
                        <span ng-switch-default ng-bind="entry.actionDescription | json"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="pager">
        <li class="previous" ng-if="$ctrl.page !== 0" ng-click="$ctrl.previousPage()"><a href="">&larr; Previous page</a></li>
        <li class="next" ng-if="$ctrl.hasNextPage()" ng-click="$ctrl.nextPage()"><a href="">Next page &rarr;</a></li>
    </ul>
</div>