<div class='modal-header'>
    <h3><i class='fa fa-key'></i> {{'AUTH_RESTORE_PASSWORD' | translate}}</h3>
</div>
<form ng-submit="submit()" name="form">
    <div class='modal-body'>
        <div class="alert alert-danger" ng-if="error">
            {{error | translate}}
        </div>
        <div class='form-group'
             ng-class='{"has-error": pwForm.password.$invalid && pwForm.password.$dirty, "has-success": pwForm.password.$dirty && !pwForm.password.$invalid}'>
            <label for='name' class='control-label' translate='AUTH_USERNAME'></label>
            <input
                ng-model='input.name'
                id='name'
                type='text'
                class='form-control'
                name='name'
                placeholder='{{"AUTH_NAME_OR_EMAIL" | translate}}'
                required
                title='{{"AUTH_NAME_OR_EMAIL" | translate}}'
            />
        </div>
        <div class="form-group">
            <label class="control-label">{{'AUTH_CAPTCHA' | translate}}</label>
            <div
                ng-model="input.captcha"
                vc-recaptcha=""
                key="'6Lepxv4SAAAAAMFC4jmtZvnzyekEQ3XuX0xQ-3TB'"
                on-create="recaptchaCreated(widgetId)"
                style="transform:scale(0.89);-webkit-transform:scale(0.89);transform-origin:0 0;-webkit-transform-origin:0 0;"
            ></div>
        </div>
    </div>
    <div class='modal-footer'>
        <div class='btn btn-warning pull-left' ng-click='close()' translate='CONTROLS_CLOSE'></div>
        <input
            type="submit"
            class="btn btn-primary"
            ng-value="'CONTROLS_OK' | translate"
            ng-disabled='!form.$valid'/>
    </div>
</form>
