<div style="height: 200px; width:120px; overflow-y: auto; overflow-x: hidden" tse-on-link>
    <div ng-if="vm.ready">
        <div ng-if="::vm.error">
            Error.
        </div>
        <div
            ng-if="::!vm.error"
            ng-repeat="emoticon in ::vm.emoticons | orderBy:'code'"
            style="display: inline-block; width: 25px; cursor: pointer;"
            ng-click="vm.addToInput(emoticon.code)"
            ng-title="::emoticon.code"
            tooltip="{{::emoticon.code}}"
        >
            <img
                style="max-height: 25px; max-width: 25px; height:auto; width: auto;"
                ng-src="/emoticons/{{::emoticon.fileName}}"
            />
        </div>
    </div>
    <div ng-if="!vm.ready">
        Loading...
    </div>
</div>
